.button {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid var(--green);
    border-radius: 5px;
    color: white;
    background-color: var(--green);
    transition: 0.2s;
}

.button:hover {
    background-color: var(--green-hover);
}