.root {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--border-radius-1);
  border: 1px solid var(--grey-2);
  box-shadow: var(--box-shadow-1);
  padding: var(--spacing-3);
  flex: 1 1;
}

.tab:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

.tabActive {
  color: var(--green-1);
}
