.root {
  height: 100%;
}

.title {
  margin-bottom: var(--spacing-3);
  padding: var(--spacing-3) var(--spacing-3) 0 var(--spacing-3);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.files {
  flex: 1 1;
  overflow-y: scroll;
  padding: var(--spacing-3);
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

.author {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-3);
}

.button svg {
  transition: fill 0.3s;
}

.button:hover svg {
  fill: var(--black);
}
