.subList {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02), 0 3px 6px rgba(0, 0, 0, 0.04);
  border: 1px solid #e6e6e6;
  margin-top: 4px;
  list-style-type: none;
  padding-left: 0;
  border-radius: 5px;
}

.subListItem {
  height: 46px;
}

.subListItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.subListItem:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.subListItem:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.subListItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subListItem:hover {
  color: #00ab55;
}

.subListItemActive {
  background-color: #f9f9f9;
  color: #00ab55;
}
