.verySmallSize {
  font-size: var(--font-size-xxxs);
}

.smallSize {
  font-size: var(--font-size-xxs);
}

.mediumSize {
  font-size: var(--font-size-sm);
}

.largeSize {
  font-size: var(--font-size-lg);
}

.veryLargeSize {
  font-size: var(--font-size-xl);
}

.regularWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.semiBoldWeight {
  font-weight: 600;
}

.boldWeight {
  font-weight: 700;
}

.primaryColor {
  color: var(--black-2);
}

.whiteColor {
  color: var(--white-1);
}

.lightGreyColor {
  color: var(--grey-4);
}

.greyColor {
  color: var(--grey-5);
}

.inheritColor {
  color: inherit;
}

.errorColor {
  color: var(--red-1);
}

.leftTextAlign {
  text-align: left;
}

.rightTextAlign {
  text-align: right;
}

.centerTextAlign {
  text-align: center;
}

.upperCase {
  text-transform: uppercase;
}
