.root {
  width: 40%;
}

.root:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

.rootPrimary {
  background-color: var(--green-1);
  margin-left: auto;
}

.rootSecondary {
  background-color: var(--grey-2);
}

.author {
  margin-bottom: var(--spacing-1);
}

@media (max-width: 1280px) {
  .root {
    width: unset;
  }
}
