.table {
  height: 100%;
  overflow-y: scroll;
  margin-top: var(--spacing-1);
}

.card {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
}

.search {
  margin-bottom: var(--spacing-2);
}
