.root {
  display: flex;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-2);
  transition: color 0.3s;
}

.breadcrumb:hover {
  color: var(--green-1);
}

.breadcrumb:not(:last-child)::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-3);
  margin-left: var(--spacing-2);
}

.breadcrumbActive {
  color: var(--green-1);
}

.breadcrumbActive a {
  cursor: default;
}
