.root {
  display: flex;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-right: 16px;
  transition: color 0.3s;
}

.breadcrumb:hover {
  color: #00ab55;
}

.breadcrumb:not(:last-child)::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: 16px;
}

.breadcrumbActive {
  color: #00ab55;
}

.breadcrumbActive a {
  cursor: default;
}
