.root {
  display: flex;
  height: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-right: 16px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 75%;
}
