.root {
  display: flex;
  height: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-right: var(--spacing-3);
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 75%;
}
