.root {
  height: 100vh;
  display: flex;
}

.content {
  position: relative;
  display: grid;
  grid-template-rows: 6% 12% 72%;
  row-gap: 5%;
  width: 100%;
  padding: 64px;
  background-image: url("../../../../../public/background.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.contentWithoutGrid {
  grid-template-rows: none;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}
