.root {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--grey-1);
}

.select {
  border: 0;
  font-size: var(--font-size-sm);
}

.amountOfElements {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-5);
}

.arrow {
  transform: rotateY(-180deg);
}
