.root {
  display: flex;
  height: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: var(--spacing-3);
}

.leftSide > div:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (max-width: 1280px) {
  .root {
    flex-direction: column;
  }

  .leftSide {
    margin-right: unset;
    margin-bottom: var(--spacing-3);
  }

  .rightSide,
  .leftSide {
    width: 100%;
  }
}
