.label {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid var(--grey-1);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-1);
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) 42px;
  outline: none;
  font-size: var(--font-size-sm);
  color: var(--black-2);
}

.input::placeholder {
  color: var(--grey-3);
  font-family: var(--font-family);
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
