.root {
  width: 100%;
  margin-bottom: var(--spacing-2);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-2);
}

.wrapper {
  display: flex;
  margin-bottom: var(--spacing-1);
}

.textWrapper {
  margin-left: var(--spacing-2);
}

.statusActive {
  color: var(--green-1);
}

.statusInactive {
  color: var(--red-1);
}
