.root {
  width: 100%;
  margin-bottom: var(--spacing-2);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-2);
}

.wrapper {
  display: flex;
  margin-bottom: var(--spacing-1);
}

.textWrapper {
  margin-left: var(--spacing-2);
}

.statusActive {
  color: var(--green-1);
}

.statusInactive {
  color: var(--red-1);
}

.deleteButton {
  margin-right: var(--spacing-1);
}

.deleteButton svg,
.editButton svg {
  transition: fill 0.3s;
}

.deleteButton:hover svg {
  fill: var(--red-1);
}

.editButton:hover svg {
  fill: var(--green-1);
}
