.table {
  position: relative;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 14px;
}

.th {
  position: sticky;
  top: 0;
  font-weight: 400;
  color: #707070;
  background-color: #f3f3f3;
  padding: 16px;
}

.th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tr:hover {
  background-color: #f3f3f3;
}
.tr:hover td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tr:hover td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.td {
  padding: 24px 16px;
}

.td a {
  cursor: pointer;
}

.td a:hover {
  text-decoration: underline;
}
