.footer {
  display: flex;
  height: 10%;
  border-top: 1px solid var(--grey-2);
}

.input {
  border: 0;
  width: 95%;
  padding-left: var(--spacing-3);
  outline: 0;
  font-size: var(--font-size-md);
}

.input::placeholder {
  font-size: var(--font-size-md);
  color: var(--grey-3);
  letter-spacing: var(--letter-spacing-1);
}

.button {
  width: 5%;
}

.button svg {
  transition: fill 0.3s;
}

.button:hover svg {
  fill: var(--black);
}
