.footer {
  display: flex;
  border-top: 1px solid var(--grey-2);
}

.input {
  border: 0;
  width: 95%;
  padding-left: var(--spacing-3);
  outline: 0;
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-1);
}

.input::placeholder {
  font-size: var(--font-size-md);
  color: var(--grey-3);
  letter-spacing: var(--letter-spacing-1);
}

.button {
  width: 5%;
}

.button svg {
  transition: fill 0.3s;
}

.button:hover svg {
  fill: var(--black-1);
}

@media (max-width: 1280px) {
  .button {
    width: 50px;
  }
}
